body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #334d9f;
}

.navbar {
    margin-left: auto;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

.header .top {
    margin: 2rem 15rem 0rem 0rem; 
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

.header .top .logo {
    margin-right: 20rem;
    width: 26rem;
    height: 4rem;
    object-fit: cover;
    flex-shrink: 0;
}

.title {
    justify-content: center;
    color: #fff;
    text-align: center;
    margin-top: 80px;
    font-family: Inter, sans-serif;
    font-weight: 200;
    font-size: 50px;
  }

.about-LA {
    color: #fff;
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 0 20px;
    letter-spacing: 1px;
}

 .head {
    justify-content: center;
    color: #fff;
    text-align: center;
    margin-top: 80px;
    font: 200 48px Inter, sans-serif;
  }

.meet-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 80px;
    gap: 60px; /* Add some gap between images */
    justify-content: space-around;
}

.c1,
.c2,
.r2c1,
.r2c2 {
    text-align: center;
}

.m1img,
.m2img,
.m3img,
.m4img {
    width: 500px; 
    height: 600px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .meet-container {
        grid-template-columns: 1fr;
    }
}

.m1, .m2, .m3, .m4 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: #ffffff;
  flex-shrink: 0;
  margin-top: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; 
}

.column {
    text-align: center;
}

.placement,
.soa {
    width: 600px; 
    height: auto; 
    object-fit: cover; 
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0px 80px 0px 70px;
}


/* Style for the copyright section */
.copyright {
    justify-content: center;
    color: #000;
    text-align: left;
    text-transform: capitalize;
    background-color: #d9d9d9;
    align-items: start;
    padding: 20px 60px 20px 160px;
    font-family: Inter, sans-serif;
    font-size: 14px;
    margin-left: -40px;
  }
  @media (max-width: 991px) {
    .copyright {
      max-width: 100%;
      padding: 0 20px;
    }
  }
}
