body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #334d9f; /* Set the background color */
}

/* Style for the navigation bar */
.navbar {
    margin-left: auto;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

/* Style for the header */
.header .top {
    margin: 2rem 15rem 10rem 0rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}

/* Style for the logo in the header */
.header .top .logo {
    margin-right: 20rem;
    width: 26rem;
    height: 4rem;
    object-fit: cover;
    flex-shrink: 0;
}

/* Style for the login container */
.login-container {
    max-width: 400px;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 80px;
}

/* Style for the login form */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form h2 {
    margin-bottom: 20px;
}

/* Style for input groups in the form */
.input-group {
    margin-bottom: 15px;
    width: 100%;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 94%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Style for buttons */
button {
    padding: 10px 20px;
    background-color: #334d9f;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

/* Style for the copyright section */
.copyright {
    justify-content: center;
    color: #000;
    text-align: left;
    text-transform: capitalize;
    background-color: #d9d9d9;
    align-items: start;
    padding: 20px 60px 20px 120px;
    font-family: Inter, sans-serif;
    font-size: 14px;
  }
  @media (max-width: 991px) {
    .copyright {
      max-width: 100%;
      padding: 0 20px;
    }
  }
}
